doctype
html
  head
      title="PUG!!!!"
      link(rel="stylesheet", href="/static/css/main.css")
  body
    h1="Using pug for create template"
    p= "This is paragraph" 

    a(href="https://www.github.com/butik484")
      div
        h2= "This my github" 
      
    div
      ul
        li First element
        li Second element
        li third elemen


    form(method="post", action="/")
    label(for="ourid") Enter our name : 
    input(name="ourname", type="text", id="ourid",placeholder="user name")
    input(type="submit", value="send data", id="sub_1")

    table
      tr
        td
          label User name : 
        td
          input(name="name", id="name")
        td
          label password : 
        td
          input(name="name1", id="name1", type="password") 


              






//- p #{name}'s Pug source code!!!